<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h2>Add a New Todo Item</h2>
  <container>
    <form action="/add-todo" method="post">
      <label for="todoText">Todo Text:</label>
      <input type="text" id="todoText" name="todoText" required>
      <br>
      <button type="submit">Add Todo</button>
    </form>
    <input type="text" id="userComment" placeholder="Non-productive activities">
    <button onclick="displayComment()">Forget</button>
  </container>
  <h2>Your Todo List</h2>
  <ul>
    <% todos.forEach(todo => { %>
      <li class="todo-item"><%= todo.text %></li>
    <% }); %>
  </ul>
  
  <!-- Add a section to display comments -->
  <div id="comments"></div>

  <script>
    const todoItems = document.querySelectorAll('.todo-item');
    
    function displayComment() {
      const userInput = document.getElementById('userComment').value;
      // Display comment in the "comments" section
      document.getElementById('comments').innerHTML += `${userInput}`;
    }
  </script>
</body>
</html>
