<!DOCTYPE html>
<html>
<head>
  <title>Todo List</title>
</head>
<body>
  <h2>Add a New Todo Item</h2>
  <container>
    <form action="/add-todo" method="post">
      <label for="todoText">Todo Text:</label>
      <input type="text" id="todoText" name="todoText" required>
      <br>
      <button type="submit">Add Todo</button>
    </form>
  </container>
  <h2>Your Todo List</h2>
  <ul>
    <% todos.forEach(todo => { %>
      <li class="todo-item"><%= todo.text %></li>
    <% }); %>
  </ul>
  <!-- Add a section to display comments -->
  <div id="comments"></div>

  <!-- Input field for user comment -->
  <input type="text" id="userComment" placeholder="Non-productive activities">
  <button onclick="sendComment()">Forget</button>

  <script>
    function sendComment() {
      const userInput = document.getElementById('userComment').value;

      const xhr = new XMLHttpRequest();
      xhr.onreadystatechange = function () {
        if (xhr.readyState === XMLHttpRequest.DONE) {
          if (xhr.status === 200) {
            document.getElementById('comments').innerHTML = xhr.responseText;
          }
        }
      };

      xhr.open("POST", "/process-comment", true);
      xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
      xhr.send("comment=" + encodeURIComponent(userInput));
    }
  </script>

</body>
</html>
